* {
  padding: 0px;
  margin: 0px;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: purple;
  background: repeating-linear-gradientrgb(55, 0, 128), (rgb(204, 0, 255));
}

header {
  position: relative;
  background-image: url('../assets/img/header.gif');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 80vh;
}

#se {
  font-family: cursive;
  position: absolute;
  top: 20%;
  left: 25%;
  color: white;
  font-size: 2.5em;
  letter-spacing: 0.62em;
}

#name {
  font-family: cursive;
  position: absolute;
  top: 40%;
  left: 30%;
  color: white;
  height: 10%;
  font-size: 2.5em;
  letter-spacing: 0.62em;
  border-right: 0.15em solid white;
  animation: blink-caret 0.75s step-end infinite;
}

#content {
  border: 1px solid purple;
  height: 50vh;
  width: 70vw;
  margin: auto;
  margin-top: 10vh;
  background-color: black;
  color: white;
  display: grid;
  grid-column: 1/2;
  z-index: 1;
  box-shadow: 5px 5px 5px rgb(15, 15, 15);
}

.content {
  text-align: center;
}

#content > nav {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  overflow: hidden;
}

#content > nav > .toggle-label {
  border-bottom: 1px solid grey;
  font-family: cursive;
  text-align: center;
  margin: auto;
  float: left;
}

#close {
  border-bottom: 1px solid grey;
  font-family: cursive;
  text-align: center;
  margin: auto;
}

#details {
  background-color: white;
  grid-column: 2/5;
  position: relative;
}

footer {
  width: 100vw;
  height: 10vh;
  border: 1px solid purple;
  margin-top: 10vh;
  background-color: black;
}
footer > p {
  color: white;
  text-align: center;
  margin-top: 2%;
}

/* typewriter effect
#name {
  font-family: cursive;
  position: absolute;
  top: 40%;
  left: 30%;
  color: white;
  font-size: 300%;
  overflow: hidden;
  border-right: .15em solid white;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .62em;
  animation: typing 2s steps(13, end), blink-caret .75s step-end infinite;
}



@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 44%
  }
}
*/

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.toggle {
  display: none;
}

.toggle-label {
  border-radius: 5px;
  cursor: pointer;
  z-index: 3;
}

.bg {
  /* background: url(http://wolvessummit.shuttout.com/img/logoBeta.png) no-repeat
      50% 51%,
    url(http://wolvessummit.shuttout.com/img/WolvesSummitBG2.png) no-repeat
      center center; */
  background-size: auto, cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

.cont {
  box-shadow: inset 0px 0px 200px 50px #000;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
}

.blade {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  height: 1000px;
  margin-top: -1000px;
  margin-left: -1000px;
  overflow: hidden;
  backface-visibility: hidden;
  transform-origin: 100% 100%;
  border-bottom: 10px solid #22ace1;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iNzAlIiBzdG9wLWNvbG9yPSIjMTExMTExIi8+PHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiMyMjIyMjIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  font-size: 0.5em;
  background-image: -webkit-gradient(
    linear,
    50% 0%,
    50% 100%,
    color-stop(0%, #000000),
    color-stop(70%, #111111),
    color-stop(99%, #222222)
  );
  background-image: -moz-linear-gradient(
    top,
    #000000 0%,
    #111111 70%,
    #222222 99%
  );
  background-image: -webkit-linear-gradient(
    top,
    #000000 0%,
    #111111 70%,
    #222222 99%
  );
  background-image: linear-gradient(
    to bottom,
    #000000 0%,
    #111111 70%,
    #222222 99%
  );
}
.blade p {
  -moz-transition: -moz-transform 0.8s;
  -o-transition: -o-transform 0.8s;
  -webkit-transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  font-family: sans-serif;
  font-size: 24px;
  position: absolute;
  bottom: 3%;
  right: 0;
  color: #444;
  padding-right: 20px;
  transform: skew(-8deg) translateX(0);
}
.cont .blade:nth-child(1) {
  -moz-transition: border-color 0.3s, -moz-transform 0.8s, opacity 0.3s 1s;
  -o-transition: border-color 0.3s, -o-transform 0.8s, opacity 0.3s 1s;
  -webkit-transition: border-color 0.3s, -webkit-transform 0.8s, opacity 0.3s 1s;
  transition: border-color 0.3s, transform 0.8s, opacity 0.3s 1s;
  transform: rotateZ(62deg) skewY(18deg) translate3d(85.5px, -90px, 0);
}
.toggle:checked + .cont .blade:nth-child(1) {
  opacity: 0.7;
  transform: rotateZ(112deg) skewY(18deg) translate3d(237.5px, -250px, 0);
}
.toggle:checked + .cont .blade:nth-child(1) p {
  transform: skew(-8deg) translateX(-160px);
}
.cont .blade:nth-child(2) {
  -moz-transition: border-color 0.3s, -moz-transform 0.8s, opacity 0.3s 1.2s;
  -o-transition: border-color 0.3s, -o-transform 0.8s, opacity 0.3s 1.2s;
  -webkit-transition: border-color 0.3s, -webkit-transform 0.8s,
    opacity 0.3s 1.2s;
  transition: border-color 0.3s, transform 0.8s, opacity 0.3s 1.2s;
  transform: rotateZ(134deg) skewY(18deg) translate3d(85.5px, -90px, 0);
}
.toggle:checked + .cont .blade:nth-child(2) {
  opacity: 0.7;
  transform: rotateZ(184deg) skewY(18deg) translate3d(237.5px, -250px, 0);
}
.toggle:checked + .cont .blade:nth-child(2) p {
  transform: skew(-8deg) translateX(-160px);
}
.cont .blade:nth-child(3) {
  -moz-transition: border-color 0.3s, -moz-transform 0.8s, opacity 0.3s 1.4s;
  -o-transition: border-color 0.3s, -o-transform 0.8s, opacity 0.3s 1.4s;
  -webkit-transition: border-color 0.3s, -webkit-transform 0.8s,
    opacity 0.3s 1.4s;
  transition: border-color 0.3s, transform 0.8s, opacity 0.3s 1.4s;
  transform: rotateZ(206deg) skewY(18deg) translate3d(85.5px, -90px, 0);
}
.toggle:checked + .cont .blade:nth-child(3) {
  opacity: 0.7;
  transform: rotateZ(256deg) skewY(18deg) translate3d(237.5px, -250px, 0);
}
.toggle:checked + .cont .blade:nth-child(3) p {
  transform: skew(-8deg) translateX(-160px);
}
.cont .blade:nth-child(4) {
  -moz-transition: border-color 0.3s, -moz-transform 0.8s, opacity 0.3s 1.6s;
  -o-transition: border-color 0.3s, -o-transform 0.8s, opacity 0.3s 1.6s;
  -webkit-transition: border-color 0.3s, -webkit-transform 0.8s,
    opacity 0.3s 1.6s;
  transition: border-color 0.3s, transform 0.8s, opacity 0.3s 1.6s;
  transform: rotateZ(278deg) skewY(18deg) translate3d(85.5px, -90px, 0);
}
.toggle:checked + .cont .blade:nth-child(4) {
  opacity: 0.7;
  transform: rotateZ(328deg) skewY(18deg) translate3d(237.5px, -250px, 0);
}
.toggle:checked + .cont .blade:nth-child(4) p {
  transform: skew(-8deg) translateX(-160px);
}
.cont .blade:nth-child(5) {
  -moz-transition: border-color 0.3s, -moz-transform 0.8s, opacity 0.3s 1.8s;
  -o-transition: border-color 0.3s, -o-transform 0.8s, opacity 0.3s 1.8s;
  -webkit-transition: border-color 0.3s, -webkit-transform 0.8s,
    opacity 0.3s 1.8s;
  transition: border-color 0.3s, transform 0.8s, opacity 0.3s 1.8s;
  transform: rotateZ(350deg) skewY(18deg) translate3d(85.5px, -90px, 0);
}
.toggle:checked + .cont .blade:nth-child(5) {
  opacity: 0.7;
  transform: rotateZ(400deg) skewY(18deg) translate3d(237.5px, -250px, 0);
}
.toggle:checked + .cont .blade:nth-child(5) p {
  transform: skew(-8deg) translateX(-160px);
}
